@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --dark: #141414;
    --white: #fff;
    --light: #ffc600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: var(--dark)
}

p,
span,
small,
strong {
    color: var(--dark)
}

.link {
    cursor: pointer;
    font-weight: 500;
}